@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  background: #ecf0f1;
  font-family: "Signika Negative", sans-serif;
}
.container {
  width: 50%;
  height: 550px;
  margin: 40px auto;
  border: 4px solid #99a3a4;
}

.formulario__title {
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.formulario {
  width: 65%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.formulario__caja {
  margin-bottom: 20px;
  display: flex;
  align-content: center;
}

.formulario__select {
  margin-left: auto;
  width: 125px;
  outline: none;
}

.formulario__select2 {
  margin-left: 5px;
}

.formulario__input {
  width: 250px;
  padding: 5px 10px;
  border-radius: 3px;
  margin-left: auto;
  outline: none;
  border: 1px solid #b2bec3;
}

.formulario__activo {
  outline: none;
  border: 2px solid #00b894;
}

.formulario__error {
  outline: none;
  border: 2px solid crimson;
}

.boton {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.boton--mejora {
  width: 120px;
  padding: 8px 5px;
  color: #fff;
  background: #0984e3;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
}

.cancelar--mejora {
  width: 120px;
  padding: 8px 5px;
  text-align: center;
  color: #fff;
  background: #ff7675;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.boton__enviar {
  margin-right: 5px;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }

  .formulario {
    width: 50%;
    /* margin-left: auto;
    margin-right: auto; */
  }

  .boton {
    margin-left: 12.5rem;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }

  .formulario {
    width: 90%;
  }
}

@media screen and (max-width: 438px) {
  .container {
    width: 100%;
  }

  .formulario__select {
    width: 70px;
  }

  .formulario__input {
    width: 190px;
  }
}

@media screen and (max-width: 360px) {
  .formulario__input {
    width: 170px;
  }

  .formulario__select {
    width: 85px;
  }

  .boton {
    margin-left: 18px;
  }
}
